<body>
    <%- include("header") -%>

        <h2>This is the about section</h2>
        <p>aslkdfjaksldfjkl;asdfjkl;asjdflk;asjdfklsajdflk;asjdfl;kdasjfklasjdflkasdjfklasdjfklsdajfklasfjkl;asdf</p>

        <%- include("footer") -%>
</body>